# Виртуальное окружение
ignore/
venv/
env/
.env

# Логи и стейт (будут прокинуты через Volume)
alert_state.json
bot_errors.log

# Кэш
__pycache__/
*.py[cod]

# Сгенерированные картинки
*.png
*.jpg
.git/